body {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

/*NAV*/
/*TAMAÑOS*/
.navbar-inverse {
  margin: 0%;
  border-radius: 0px;
}

.medium {
  font-size: 155%;
}

.large {
  font-size: 200%;
}

/*LOG IN MODAL*/
.modal-header {
  text-align: center;
  width: 90%;
  margin-left: 5%;
}

.close {
  font-size: 250%;
}

.modal-body{
  margin-top: 5%;
}

.input-group {
  margin: 2% 0% 2% 8%;
}

.register {
  margin: 2% 0% 2% 0%;
  text-align: center;
}

/*HOMEPAGE*/
.homepage {
  background-image: url("../images/image4.jpeg");
  background-size: cover;
  width: 100%;
}

.title {
  margin: 13% 0% 27% 0%;
  font-size: 300%;
  color: white;
  text-align: center;
  font-weight: bold;
}